body {
    font-family: sans-serif;
    text-align: center;
}

/* 将棋盤 */
#board {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    aspect-ratio: 1;
    margin: 20px auto;
    border: 2px solid #333;
    background: #f5deb3;
    width: 378px;
    height: 378px;
}

/* 升目 */
.cell {
    border: 1px solid #777;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: min(6vw, 24px);
    width: 40px;
    height: 40px;
}

/* 駒の向き */
.black {
    transform: rotate(0deg);
}

.white {
    transform: rotate(180deg);
}

#hands {
    display: flex;
    justify-content: space-between;
    max-width: 360px;
    margin: 0 auto;
}

#black-hand,
#white-hand {
    font-family: "ShogiFont";
    font-size: 20px;
}