body {
    font-family: sans-serif;
}

#board-area {
    width: 378px;
    margin: auto;
}

/* 将棋盤 */
#board {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    aspect-ratio: 1;
    border: 2px solid #333;
    background: #f5deb3;

}

/* 升目 */
.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: min(6vw, 24px);
    width: 40px;
    height: 40px;
}

/* マスの枠線 */
.border {
    border: 1px solid #777;
}

/* 駒の向き */
.black {
    transform: rotate(0deg);
}

.white {
    transform: rotate(180deg);
}

#black-hand,
#white-hand {
    display: flex;
    flex-wrap: wrap;
    width: 378px;
    text-align: center;
    font-size: 20px;
}

button {
    font-size: 16px;
    width: 100px;
    height: 40px;
    margin: 10px 5px;
}

#answer-btn-area {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.text-area {
    width: 450px;
    margin: auto;
}