body {
    font-family: sans-serif;
    text-align: center;
    justify-items: center;
}

/* 将棋盤 */
#board {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    aspect-ratio: 1;
    margin: 5px auto;
    border: 2px solid #333;
    background: #f5deb3;
    width: 378px;
    height: 378px;
}

/* 升目 */
.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: min(6vw, 24px);
    width: 40px;
    height: 40px;
}

/* マスの枠線 */
.border {
    border: 1px solid #777;
}

/* 駒の向き */
.black {
    transform: rotate(0deg);
}

.white {
    transform: rotate(180deg);
}

#black-hand,
#white-hand {
    display: flex;
    width: 378px;
    text-align: center;
    font-size: 20px;
}